body {
  height: 100vh;
  min-height: 40rem;
  padding-top: 4.5rem;
  padding-bottom: 0;
  padding-top: 5rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: linear-gradient(to bottom, rgba(0, 0, 0, .8) 0%, rgba(13, 13, 13, 0.8) 100%), url('../../assets/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}

.logo{
  width: 540px;
  margin: auto;
}
.inputButtons {
  width: 30%;
}

.btn-light {
  width: calc(100% / 2);
  height: 20%;
  margin: 8px 4px;
}

@media (max-width: 800px) {
  .logo{
    width: 100%;
    margin: auto;
  }

  .btn-light {
    width: auto;
    height: auto;
    display: block;
  }

  .inputButtons {
    width: 80%;
  }

  .buttons {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
  }
}